.logo {
    width: 23%;
    padding: 15;
    text-align: center;
}
.nav {
    width: 73%;
    padding: 1%;
}
.ul {
    width: 50%;
    margin: 0 auto;
}
.heroImg {
    height: 100x;
    width: auto;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
}
.content{
    width: 500px;
    margin: 0 auto;
}
.footer{
    background-color: #373738;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}
#footerList{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style-type: none;
}
